@import '../../variables.scss';

.inputContainer {
    position: relative;

    .inputContainer span {
          color: transparent;
    }
}

.inputText {
    height: 64px;
    vertical-align: middle;
    color: $color-base-dark-highlight;
    font-size: $font-size-md;
    font-weight: $font-weight-medium;
    line-height: $line-height-xl;
    background-color: transparent;
    border-bottom: 2px solid $color-base-dark-highlight;
    transition: all 0.1s;
    width: 100%;
}

.inputText::placeholder  {
    color: $color-base-dark-highlight;
    font-family: $font-family-base;
    font-weight: 500;
    font-size: $font-size-md;
}

.inputText:hover {
    border-bottom: 3px solid;
}

.inputText:focus {
    border: 1px solid $color-primary-light;
    border-bottom: 3px solid;
}

.inputText:active {
    font-weight: $font-weight-semibold;
}

.inputText:disabled {
    border-color: $color-base-dark-disabled;
    cursor: not-allowed;
}

.inputText:disabled::placeholder {
    color: $color-base-dark-disabled;
}

.errorInput {
    border-color: $color-error-main;
}

.spanText {
    color: transparent;
    font-size: $font-size-xxxs;
    font-weight: $font-weight-medium;
    line-height: $line-height-lg;
    position: absolute;
    left: 0px;
    top: 100%;
}

.errorSpan {
    color: $color-error-dark;
}


@media (max-width: 1440px) {
    .inputText {
        height: 56px;
    }

    .inputText::placeholder {
        font-size: $font-size-xs;
    }
}